@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}



<div class="row">

    <div class="col-md-12">
        <h1 class="text-center">Sifre Degistirme</h1>

        <hr />

        @if (ViewBag.Status != null)
        {
            <script>
                setTimeout(()=> {
                    window.location.href = "/@nameof(MemberController).Replace("Controller","")/@nameof(MemberController.Homepage)"
                },5000)
            </script>
            <div class="alert alert-success">
                @ViewBag.Status
            </div>
            <a class="btn btn-link" asp-action="@nameof(MemberController.Homepage)">Geri Don</a>
        }else{
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordOld" class="control-label"></label>
                    <input asp-for="PasswordOld" class="form-control" />
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="control-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group my-2">
                    <input type="submit" value="Sifre Degistir" class="btn btn-primary" />
                </div>
            </form>
        }

        
    </div>
</div>


