@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(TempData["Message"] != null){
<custom-alert message="@TempData["Message"]" priority="@TempData["Priority"]" return-url="@TempData["ReturnUrl"]"></custom-alert>
}else{
    <h1>@ViewLocalizer["WelcomeToHomepage"]</h1>
}




