@using System.Security.Claims
@model List<Claim>

@{
    ViewData["Title"] = "Claims";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Claims</h1>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col">Who</th>
                <th scope="col">Issuer</th>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <th scope="row">@claim.Subject.Name</th>
                    <td>@claim.Issuer</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
