@model List<AppUser>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    @if(Model.Count > 0){
        <tbody>
           @foreach (AppUser user in Model)
           {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    }
    else{
        <tbody>
            <tr>
                <td colspan="3">Hicbir uye yoktur</td>
            </tr>
        </tbody>
    }
    
</table>